body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #0D2C40;
	font-size: 45px;
	letter-spacing: 1px;
	margin: 0;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

a {
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
}

p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}

img {
	margin: 40px 8px 0 8px;
}

.resetBtn {
	text-align: center;
}

.btn {
	background-color: #ec0000;
	color: #ffffff;
	border: 1px solid black;
	box-shadow: 0px 0px 1px 0px black;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
}

.label {
	font-size: 24px;
	font-family: "Droid Serif";
	color: #2d2dff;
	font-weight: 700;
	text-shadow: 1px 0px 0px black;
}

.score {
	text-align: right;
}
